.circle {
  position: relative;
  width: 4ch;
  height: 4ch;
}

.circle_small {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 25%;
  background-color: var(--text);
  border-radius: 100%;
  transform: translate(150%, 150%);
  transition: transform 0.1s ease;
}

.circle_small_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: rotation 1s linear infinite;
}

.circle_big {
  width: 100%;
  height: 100%;
  background-color: var(--text);
  border-radius: 100%;
  transition: transform 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

.circle_loading .circle_big {
  transform: scale(0.7);
}

.circle_loading .circle_small {
  transform: translate(0, 0);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
