@font-face {
  font-family: "Space Mono";
  src: url("/space-mono/SpaceMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("/space-mono/SpaceMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("/space-mono/SpaceMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("/space-mono/SpaceMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Space Mono", monospace;
  font-size: 13px;
  padding: 0;
  margin: 0;
  color: #111;
}

a {
  color: inherit;
  text-decoration-color: transparent;
  text-decoration-thickness: 0.25ch;
  text-decoration-skip-ink: none;
  transition: text-decoration-color 0.05s ease;
}

a:hover {
  text-decoration-color: inherit;
}

* {
  box-sizing: border-box;
}

main {
  margin: 20ch 8ch;
  margin-bottom: 0;
}

p {
  margin: 2ch 0;
}

@media screen and (max-width: 600px) {
  main {
    margin: 14ch 3ch;
    margin-bottom: 0;
  }
}
