.cabecalho {
  --cabecalho-gradiente-topo: rgb(255, 255, 255, 1);
  --cabecalho-gradiente-inferior: rgb(255, 255, 255, 0);

  padding: 8ch;
  display: flex;
  position: fixed;
  align-items: center;
  column-gap: 3ch;
  top: 0;
  width: 100%;
  background: linear-gradient(
    var(--cabecalho-gradiente-topo) 35%,
    var(--cabecalho-gradiente-inferior)
  );
}

@media screen and (max-width: 600px) {
  .cabecalho {
    padding: 5ch 3ch;
  }
}

@media (prefers-color-scheme: dark) {
  .cabecalho {
    --cabecalho-gradiente-topo: rgba(0, 0, 0, 1);
    --cabecalho-gradiente-inferior: rgb(0, 0, 0, 0);
  }
}
