.item {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 7ch 1fr;
  margin: 3ch 0;
}

.item_header {
  display: contents;
}

.item_footer {
  display: flex;
  flex-wrap: wrap;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin-top: 0.5ch;
  color: #666;
  column-gap: 3ch;
  transition: color 0.1s ease;
}

.item_points {
  grid-row: 1 / -1;
  margin: 0;
  font-weight: 700;
}

.item_title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin: 0;
  font-size: 1em;
}

.item:hover .item_footer {
  color: inherit;
}

.item_comment:hover > .item_footer,
.item_comment:focus > .item_footer {
  color: inherit;
}

.job:hover {
  text-decoration-color: blue;
}

.ask:hover {
  text-decoration-color: yellow;
}

.item_content {
  margin: 3ch 0;
  margin-left: 6ch;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.item_comments {
  margin: 3ch 0;
  margin-left: calc(7ch - 1ch - 1ch - 2px);
}

.item_comment {
  --comment-border-color: #eee;

  margin: 3ch 0;
  margin-left: 1ch;
  padding-left: 1ch;
  border-left: 2px solid var(--comment-border-color);
  transition: border-left-color 0.1s ease;
}

.item_comment:hover,
.item_comment:focus {
  border-left-color: var(--texto);
}

.item_comment .item_content {
  margin: 2ch 0;
}

@media screen and (max-width: 600px) {
  .item {
    grid-template-columns: 5ch 1fr;
  }

  .item_content {
    margin-left: 0;
  }

  .item_comments {
    margin-left: 0;
  }

  .item_comment {
    margin-left: 0;
    padding-left: 1ch;
  }
}

@media (prefers-color-scheme: dark) {
  .item_comment {
    --comment-border-color: #222;
  }
}
