.item {
  margin: 3ch 0;
  display: grid;
  grid-template-columns: 7ch 1fr;
  grid-template-rows: auto auto;
}

.item_header {
  display: contents;
}

.item_footer {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  color: #222;
  margin-top: 0.5ch;
  display: flex;
  flex-wrap: wrap;
  column-gap: 3ch;
  color: #666;
  transition: color 0.1s ease;
}

.item_points {
  font-weight: 700;
  grid-row: 1 / -1;
  margin: 0;
}

.item_title {
  margin: 0;
  font-size: 1em;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.item:hover .item_footer {
  color: inherit;
}
.comentario:hover > .item_footer,
.comentario:focus > .item_footer {
  color: inherit;
}

.job:hover {
  text-decoration-color: blue;
}

.ask:hover {
  text-decoration-color: yellow;
}

.conteudo {
  margin: 3ch 0;
  margin-left: 6ch;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.comentarios {
  margin: 3ch 0;
  margin-left: calc(7ch - 1ch - 1ch - 2px);
}

.comentario {
  --comentario-borda: #eee;

  margin: 3ch 0;
  margin-left: 1ch;
  padding-left: 1ch;
  border-left: 2px solid var(--comentario-borda);
  transition: border-left-color 0.1s ease;
}

.comentario:hover,
.comentario:focus {
  border-left-color: var(--texto);
}

.comentario .conteudo {
  margin: 2ch 0;
}

@media screen and (max-width: 600px) {
  .item {
    grid-template-columns: 5ch 1fr;
  }

  .conteudo {
    margin-left: 0;
  }

  .comentarios {
    margin-left: 0;
  }

  .comentario {
    margin-left: 0;
    padding-left: 1ch;
  }
}

@media (prefers-color-scheme: dark) {
  .comentario {
    --comentario-borda: #222;
  }
}
